<div ng-controller="Home as homeController">
	<h1>{{home.name}}</h1>

  <user ng-hide="home.comms.hasPeers(1) || home.is_hosting"></user>

  <div ng-show="home.is_hosting">
      <div ng-hide="home.game.hasStarted()">
          {{ home.comms.id }}
          <qrcode data="{{ home.game_uri + '?host=' + home.comms.id }}" size="100"></qrcode>

          <form no-validate ng-submit="home.game.startGame()">
              <input type="submit" value="Start Game" ng-disabled="!home.comms.hasPeers(2) || home.game.hasStarted()">
          </form>
      </div>

      <div ng-show="home.game.hasStarted()">
          <h3>Current layed off cards</h3>
          {{ user.cards | json }}
      </div>
  </div>

  <div ng-show="home.comms.hasPeers(1) && !home.is_hosting" ng-controller="Hand as handController">
      <div class="col-xs-12">
        <ul class="users">
          <li class="player_heading">Spelers:</li>
          <li ng-repeat="player in handController.players" ng-class="(player.active==true) ? 'active' : ''">
            {{player.username}}
          </li>
        </ul>

        <ul class="cards">
            <li ng-repeat="card in handController.cards">
              <div ng-click="handController._playCard(card)" style="background: url('{{handController.getSvg(card)}}') center center; width: 225px; height: 314px;" title="{{card.suit}}  {{card.rank}}"></div>
            </li>
        </ul>
      </div>
  </div>

  <div ng-if="home.showDebug">
    <hr>
    <h2>Debug</h2>

    <pre class="Debug">
    {{ home.comms.received_messages | json }}
    </pre>

    <h3 class="Debug">Host: {{ home.comms.id }}</h3>

    <br style="clear: both">

    <div class="Debug">
      <h4>Broadcast Message</h4>
      <form no-validate ng-submit="home.comms.broadcast(broadcast.message)">
        <input ng-model="broadcast.message">
        <input type="submit" value="Broadcast">
      </form>
    </div>

    <div class="Debug">
      <h4>Send Private Message</h4>
      <form no-validate ng-submit="home.comms.send(send.recipient_id, send.message)">
        <select ng-model="send.recipient_id" ng-options="peer_id as peer_id for (peer_id, _) in home.comms.peers"></select>
        <input ng-model="send.message">
        <input type="submit" value="Send">
      </form>
    </div>

    <div class="Debug">
      <h4>Create Game</h4>
      <form no-validate ng-submit="home.game.createGame(game.player_count)">
        <input ng-model="game.player_count">
        <input type="submit" value="Create">
      </form>
    </div>


    <div class="Debug">
      <h4>Join Game</h4>
      <form no-validate >
        <label for="host_id">Host ID:</label>
        <input id="host_id" ng-model="host.id">
        <input type="button" value="Join" ng-click="home.comms.join(host.id)">
      </form>
    </div>

    <div class="Debug">
      {{ home.game.getGameState() }}
    </div>
  </div>
</div>
