<div ng-controller="Home as homeController">
	<h1>{{home.name}}</h1>

  <user ng-hide="user.name"></user>

  <div ng-show="user.name && !home.comms.hasPeers() && !home.is_hosting">
    <h2>Hi {{ user.name }}</h2>

    <form no-validate ng-submit="home.comms.join(game_id)">
        <input ng-model="game_id" placeholder="Game ID">
        <input type="submit" value="Join">
    </form>

    <form no-validate ng-submit="home.hostGame()">
        <input type="submit" value="Host a game">
    </form>
  </div>

  <div ng-show="home.is_hosting">
      {{ home.comms.id }}
	  <qrcode data="{{$location + '?host=' + home.comms.id}}" size="50"></qrcode>
  </div>

	<hr>
	<h2>Debug</h2>

	<pre class="Debug">
	{{ home.comms.received_messages | json }}
	</pre>

	<h3 class="Debug">Host: {{ home.comms.id }}</h3>

	<br style="clear: both">

	<div class="Debug">
		<h4>Broadcast Message</h4>
		<form no-validate ng-submit="home.comms.broadcast(broadcast.message)">
			<input ng-model="broadcast.message">
			<input type="submit" value="Broadcast">
		</form>
	</div>

	<div class="Debug">
		<h4>Send Private Message</h4>
		<form no-validate ng-submit="home.comms.send(send.recipient_id, send.message)">
			<select ng-model="send.recipient_id" ng-options="peer_id as peer_id for (peer_id, _) in home.comms.peers"></select>
			<input ng-model="send.message">
			<input type="submit" value="Send">
		</form>
	</div>

	<div class="Debug">
		<h4>Create Game</h4>
		<form no-validate ng-submit="home.game.createGame(game.player_count)">
			<input ng-model="game.player_count">
			<input type="submit" value="Create">
		</form>
	</div>


	<div class="Debug">
		<h4>Join Game</h4>
		<form no-validate >
			<label for="host_id">Host ID:</label>
			<input id="host_id" ng-model="host.id">
			<input type="button" value="Join" ng-click="home.comms.join(host.id)">
		</form>
	</div>
</div>
