<div id="Login" ng-controller="Login">

	<form ng-submit="submit()">
		<h1>Login to this wonderful Hah Gaaaaame!</h1>
		<label for="username">Username:</label>
		<input id="username" type="text" ng-model="text" />
		<button type="submit">Let's play!</button>
	</form>

	<pre ng-if="username">Welcome {{username}}! What is the next step?</pre>

	<select ng-model="card" ng-change="setCard()">
		<option ng-repeat="c in login.cards" value="{{c.path}}">{{c.name}}</option>
	</select>

	<br />

	<img src="{{currentCard}}"/>

</div>